.text {
    color: white;
}

.background {
    background-color: #73E098;
    padding: 10%;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.invalid-feedback {
    color: red;
}


.rectangle {
    width: 90%;
    max-width: 1080px;
    text-align: center;
    color: white;
    font-size: 10vw;
    font-weight: bold;
}

.header {
    background-color: #359857;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 768px) {
    .custom-button {
    margin-top: 20px;
    }
    
    .field-label {
    text-align: left;
    margin-left: 0;
    }
}

.text-start {
    text-align: left;
}

@media (min-width: 768px) {
    .ion-text-center {
    display: flex;
    justify-content: center;
    align-items: center;
    }
    
    .ion-align-items-start {
    align-items: flex-start;
    }
    
    .ion-align-items-end {
    align-items: flex-end;
    }
}
