<ion-content>
  <div class="header">
    <div class="rectangle">
      <span class="text">Crear Cuenta</span>
    </div>
  </div>

  <div class="background">
    <ion-grid>
      <ion-row>
        <ion-col class="ion-text-center">
          <div class="loginCard">
            <form [formGroup]="formularioRegistroPersonal" (ngSubmit)="enviarRegistro()" #ngForm="ngForm">
              <div *ngIf="status === 0">
                <ion-grid>

                  <ion-row>
                    <ion-col>
                      <div class="field-label left-align text-start">Nombre</div>
                      <ion-item class="loginItem" lines="none">
                        <ion-input class="loginInput" formControlName="nombre" placeholder="Nombre" type="text"></ion-input>
                      </ion-item>
                    </ion-col>
                  </ion-row>
                  <div *ngIf="ngForm.submitted && f['nombre'].errors || flag === false && f['nombre'].errors" class="invalid-feedback">
                    <div *ngIf="f['nombre'].errors['required']">Se requiere el nombre del usuario</div>
                  </div>
                  <div *ngIf="!(ngForm.submitted && f['nombre'].errors)"></div>

                  <ion-row>
                    <ion-col>
                      <div class="field-label left-align text-start">Apellido</div>
                      <ion-item class="loginItem" lines="none">
                        <ion-input class="loginInput" formControlName="apellido" placeholder="Apellido" type="text"></ion-input>
                      </ion-item>
                    </ion-col>
                  </ion-row>
                  <div *ngIf="ngForm.submitted && f['apellido'].errors || flag === false && f['apellido'].errors" class="invalid-feedback">
                    <div *ngIf="f['apellido'].errors['required']">Se requiere el apellido del usuario</div>
                  </div>
                  <div *ngIf="!(ngForm.submitted && f['apellido'].errors)"></div>

                  <ion-row>
                    <ion-col>
                        <div class="field-label left-align text-start">RUT</div>
                        <ion-item class="loginItem" lines="none">
                          <ion-input class="loginInput" formControlName="rut" placeholder="RUT" type="text" (change)="formatRut()"></ion-input>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <p class="invalid-feedback" *ngIf="!rutValidated">Rut no válido, intente nuevamente.</p>
                <div *ngIf="ngForm.submitted && formularioRegistroPersonal.controls['rut'].errors || flag === false && formularioRegistroPersonal.controls['rut'].errors" class="invalid-feedback">
                    <div *ngIf="formularioRegistroPersonal.controls['rut'].errors?.['required']">Se requiere el rut del usuario</div>
                </div>
                <div *ngIf="!(ngForm.submitted && formularioRegistroPersonal.controls['rut'].errors)"></div>
                
                
                  
                  

                  <ion-row>
                    <ion-col>
                      <div class="field-label left-align text-start">Sexo</div>
                      <ion-item class="loginItem" lines="none" (click)="getSexo()">
                        <ion-text class="textInputDate" [style.color]="sexoUsuario.color">{{ formularioRegistroPersonal.value.sexoUsuario }}</ion-text>
                      </ion-item>
                      <div *ngIf="(ngForm.submitted && formularioRegistroPersonal.controls['sexoUsuario'].errors) || (flag === false && formularioRegistroPersonal.controls['sexoUsuario'].errors)"
                        class="invalid-feedback error">
                        <div *ngIf="formularioRegistroPersonal.controls['sexoUsuario'].errors?.['required']">Se requiere el sexo del usuario</div>
                      </div>
                    </ion-col>
                  </ion-row>

                  <ion-row>
                    <ion-col>
                      <div class="field-label left-align text-start">País de Residencia</div>
                      <ion-item class="loginItem" lines="none" (click)="getPais()">
                        <ion-text class="textInputDate" [style.color]="paisUsuario.color">{{ formularioRegistroPersonal.value.paisUsuario }}</ion-text>
                      </ion-item>
                    </ion-col>
                  </ion-row>
                  <div *ngIf="ngForm.submitted && formularioRegistroPersonal.controls['paisUsuario'].errors || flag === false && formularioRegistroPersonal.controls['paisUsuario'].errors"
                    class="invalid-feedback error">
                    <div *ngIf="formularioRegistroPersonal.controls['paisUsuario'].errors?.['required']">Se requiere el país de residencia del usuario</div>
                  </div>

                  <ion-row>
                    <ion-col class="ion-text-center ion-align-items-end">
                      <ion-button color="light" class="custom-button" routerLink="../../home">Volver</ion-button>
                    </ion-col>
                    <ion-col class="ion-text-center ion-align-items-start">
                      <ion-button color="light" class="custom-button" type="submit" (click)="continuarPrueba(1)">Continuar</ion-button>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </div>
            </form>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>