<ion-content>
    <div class="header">
      <div class="rectangle">
        <span class="text">Crear Cuenta</span>
      </div>
    </div>
  
    <div class="background">
      <ion-grid>
        <ion-row>
          <ion-col class="ion-text-center">
            <div class="loginCard">
              <form [formGroup]="formularioRegistroPersonal" (ngSubmit)="enviarRegistro()" #ngForm="ngForm">
                <div class="card-content">
                  <ion-grid>
  
                    <ion-row>
                      <ion-col>
                        <div class="field-label left-align text-start">Nombre</div>
                        <ion-item class="loginItem" lines="none">
                          <ion-input class="loginInput" formControlName="nombre" placeholder="Nombre" type="text"></ion-input>
                        </ion-item>
                        <div *ngIf="formularioRegistroPersonal.controls['nombre'].invalid && formularioRegistroPersonal.controls['nombre'].errors?.['required']" class="invalid-feedback">
                          Se requiere el nombre del usuario
                        </div>
                      </ion-col>
                    </ion-row>
  
                    <ion-row>
                      <ion-col>
                        <div class="field-label left-align text-start">Apellido</div>
                        <ion-item class="loginItem" lines="none">
                          <ion-input class="loginInput" formControlName="apellido" placeholder="Apellido" type="text"></ion-input>
                        </ion-item>
                        <div *ngIf="formularioRegistroPersonal.controls['apellido'].invalid && formularioRegistroPersonal.controls['apellido'].errors?.['required']" class="invalid-feedback">
                          Se requiere el apellido del usuario
                        </div>
                      </ion-col>
                    </ion-row>
  
                    <ion-row>
                      <ion-col>
                        <div class="field-label left-align text-start">RUT</div>
                        <ion-item class="loginItem" lines="none">
                          <ion-input class="loginInput" formControlName="rut" placeholder="RUT" type="text" (blur)="formatRut()"></ion-input>
                        </ion-item>
                        <div *ngIf="formularioRegistroPersonal.controls['rut'].invalid && formularioRegistroPersonal.controls['rut'].errors?.['required']" class="invalid-feedback">
                          Se requiere el RUT del usuario
                        </div>
                      </ion-col>
                    </ion-row>
  
                    <ion-row>
                        <ion-col>
                        <div class="field-label left-align text-start">Sexo</div>
                        <ion-item class="loginItem" lines="none" (click)="getSexo()">
                            <ion-text class="textInputDate" [style.color]="formularioRegistroPersonal.controls['sexoUsuario'].invalid && formularioRegistroPersonal.controls['sexoUsuario'].touched ? 'red' : ''">{{ sexoUsuario.value }}</ion-text>
                        </ion-item>
                        <div *ngIf="(ngForm.submitted && formularioRegistroPersonal.controls['sexoUsuario'].errors) || (flag == false && formularioRegistroPersonal.controls['sexoUsuario'].errors)" class="invalid-feedback">
                        <div *ngIf="formularioRegistroPersonal.controls['sexoUsuario'].errors?.['required']">Se requiere el sexo del usuario</div>
                        </div>
                    </ion-col>
                    </ion-row>
  
                    <ion-row>
                      <ion-col>
                        <div class="field-label left-align text-start">País de Residencia</div>
                        <ion-item class="loginItem" lines="none" (click)="getPais()">
                          <ion-text class="textInputDate" [style.color]="formularioRegistroPersonal.controls['paisUsuario'].invalid && formularioRegistroPersonal.controls['paisUsuario'].touched ? 'red' : ''">{{ paisUsuario.value }}</ion-text>
                        </ion-item>
                        <div *ngIf="formularioRegistroPersonal.controls['paisUsuario'].invalid && formularioRegistroPersonal.controls['paisUsuario'].errors?.['required']" class="invalid-feedback">
                          Se requiere el país de residencia del usuario
                        </div>
                      </ion-col>
                    </ion-row>
  
                    <ion-row class="centrar" style="margin-top: 20px;">
                      <ion-col>
                        <ion-button class="continueButton" expand="block" type="submit">Continuar</ion-button>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </div>
              </form>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-content>
  